.home{
    border-radius: 10px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    background-color: rgb(255, 254, 167);
    box-shadow:2px 2px 2px rgba(60, 60, 60, 0.5);
}

body{
    display: inline;
    margin-top: 0px;
}

#body{
    margin-top: 2%;
    display: flex;
}

a{
    position: relative;
    top: 13px;
}

h1{
    text-align: center;
    font-size: 40px;
}

h3{
    text-align: center;
}


article{
    width: 70%;
}

#article{
    text-align: left;
    border-style: dashed;
    border-width: 5px;
    padding: 10px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
    border-color: #00a5de #f5ac0f #008d71 #ff6b83;
    word-wrap: break-word;
    box-shadow:1px 1px 8px rgba(130, 130, 130, 0.5);
}

img{
    width:100%;
}

section{
    width:30%;
    margin-top: 10px;
}

#comments{
    flex-direction: column;
    background: rgb(255, 254, 167);
    padding:5px;
    border-style: solid;
    border-width: 1px;
}

.comment{
    flex-direction: column;
    background: #ffffff;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 3px;
    box-shadow:1px 1px 1px rgba(130, 130, 130, 0.5);
}


.flex{
    display: flex;
    justify-content: flex-end;
    font-size:12px;
}

#like{
    text-align:center;
    margin-right:8px;
    color:red;
    filter:drop-shadow(1px 1px 1px rgba(120, 50, 50, 0.5));
}

#article_posted{
    margin-right:20px;
}

#input{
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
}

h2{
    font-size: 30px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: #00a5de #f5ac0f #008d71 #ff6b83;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-shadow:3px 3px 3px rgba(130, 130, 130, 0.5);
}

#textInput{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-shadow:1px 1px 1px rgba(130, 130, 130, 0.5);
}

button{
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: #00a5de #f5ac0f #008d71 #ff6b83;
    background-color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-shadow:3px 3px 3px rgba(130, 130, 130, 0.5);
}