#title {
    text-align: center;
    border-style: solid;
    border-width: 10px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    border-color: #00a5de #f5ac0f #008d71 #ff6b83;
    box-shadow:5px 5px 5px rgba(60, 60, 60, 0.5);
}

#main{
    font-size: 150px;
    margin: 0px;
    color:black;
    font-family:impact;
}

#sub{
    margin-top:0px;
    font-size: 20px;
    color:black;
    font-family:impact;
}


h1 a{
    color: black;
}

body {
    margin-top: 13px;
    background: #ffffff;
}

.pad{
    border-radius: 10px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 0px 5px 5px 5px;
    background-color: rgb(255, 254, 167);
    box-shadow:2px 2px 2px rgba(60, 60, 60, 0.5);
}


#search{
    display: flex;
    font-size: 30px;
    text-align: center;
    height: 60px;
    background-color: rgb(255, 254, 167);
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow:2px 2px 2px rgba(90, 90, 90, 0.5);
}

input.name_search{
    width: 250px;
}

#titleInput{
    font-size: 20px;
}

#genreInput{
    font-size: 20px;
}

.search{
    font-size: 20px;
}

.box{
    display: flex;
    border-style: dashed;
    border-width: 5px;
    border-color: #00a5de #f5ac0f #008d71 #ff6b83;
    margin: 1%;
    padding:1%;
    width:45%;
    float: left;
    height: 450px;
    box-shadow:1px 1px 8px rgba(130, 130, 130, 0.5);
}

#game_overview{
    width:50%;
    margin-right: 20px;
    
}

p {
    font-size: 25px;
}

#pictures{
    flex-direction:end;
    width: 50%;
    object-fit: cover;
    flex-direction: column;
    filter:drop-shadow(2px 5px 2px rgba(184, 184, 184, 0.5));
}

.picture {
    text-align: center;
    padding: 0;
    height: 380px;
    margin: 10px;
    list-style: none;
}

img{
    object-fit: contain;
    height: 380px;
    width:100%;
    margin: 10px;
    object-position: 100% 20%;
}

.big{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 1000;
    padding-left:5px;
    border-left: 10px solid #ff5454;
    filter:drop-shadow(3px 3px 2px rgba(175, 152, 152, 0.5));
}

.info{
    margin: 10px;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    filter:drop-shadow(1px 1px 2px rgba(175, 152, 152, 0.5));
}

.about{
    font-size: 15px;
    margin-bottom: 3px;
    padding-left: 15px;
    height: 130px;
    width: 100%;
    overflow:   hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    color: rgb(110, 110, 110);
}


.flex{
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.like{
    position: relative;
    top:4px;
    height: 15px;
    width: 15px;
    margin:15px 8px 15px 0px;
}

.small{
    font-size: 15px;
    text-align:center;
    height: 15px;
    width: 15px;
    margin:15px 8px 15px 0px;
    color:red;
    filter:drop-shadow(1px 1px 1px rgba(129, 62, 62, 0.5));
}

.very-small{
    font-size: 15px;
    margin-right:20px;
    color:rgb(110, 110, 110);
}

#game_name{
    width: 50%;
}

#genre{
    width: 50%;
}