a{
    border-radius: 10px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    margin-left: 5px;
    background-color: rgb(255, 254, 167);
    box-shadow:2px 2px 2px rgba(60, 60, 60, 0.5);
}

body{
    margin-top: 13px;
}

h1 {
    font-size: 60px;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0px;
    border-color: #00a5de #f5ac0f #008d71 #ff6b83;
    box-shadow:5px 5px 5px rgba(60, 60, 60, 0.5);
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#titleInput{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 20px;
}

#gameInput{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 20px;
}

#genreInput{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 20px;
}

.fontsize{
    font-size: 20px;
}

.same-width-list{
    width: 80%;
}

#textInput{
    width: 65%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    box-shadow:1px 1px 1px rgba(130, 130, 130, 0.5);
}

#imageInput{
    width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10%;
}

form{
    border-style: dashed;
    border-width: 5px;
    border-color: #00a5de #f5ac0f #008d71 #ff6b83;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: black;

}

.form{
    padding: 5px;
    background-color: rgb(255, 254, 167);
    border-style: dashed;
    border-width: 5px;
    border-color: #00a5de #f5ac0f #008d71 #ff6b83;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow:1px 1px 8px rgba(130, 130, 130, 0.5);
}

button{
    font-size: 25px;
    border-style: solid;
    border-width: 10px;
    border-color: #00a5de #f5ac0f #008d71 #ff6b83;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow:3px 3px 3px rgba(130, 130, 130, 0.5);
}