<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <title>Detail</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'detail.css' %}">
</head>



<body>
  <a class="home" href="{% url 'home' %}">トップへ戻る</a>
  <div id="body">
    <article>
      <div id="article">
        <h1>{{ article.title }}</h1>
        <h3>{{ article.game_name }}</h3>
        {% if article.picture %}
        <img src="../../media/{{article.picture}}">
        {% endif %}
        <p>{{ article.body|linebreaksbr }}</p>
        <div class="flex">
          <p id="article_posted">{{ article.posted_at }}</p>
          <a id="like" href="{% url 'like' article.id %}">
            <img src="{% static 'img/like.png' %}">
          </a>
          <p id="like">{{ article.like }}</p>
        </div>
      </div>

      <form id="input" action="{% url 'detail' article.id %}" method="post">
        {% csrf_token %}
        <h2>コメント</h2>
        <label for="textInput"></label>
        <textarea id="textInput" name="text" rows="5" placeholder="コメント内容"></textarea>
        <div>
          <button type="submit">送信</button>
        </div>
      </form>

    </article>

    <section>
      {% if comments %}
      <div class="flex" id="comments">
        {% for comment in comments %}
        <div class="comment">
          <small>[{{ comment.posted_at }}]</small>
          <p>{{ comment.text | linebreaksbr }}</p>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="flex" id="comments">
        <div class="comment">
          <p>No comment.</p>
        </div>
      </div>
      {% endif %}
    </section>
  </div>

</body>

</html>