<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <title>Home</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>
  <a href="#" class="pad">利用規約</a>
  <a href="{% url 'post' %}" class="pad">投稿する</a>
  <div id="title">
    <a id="main" href="{% url 'home' %}">
      <p id="main">GIFT</p>
    </a>
    <a id="sub" href="{% url 'home' %}">
      <p id="sub">~Game Introduce For Tomorrow~</p>
    </a>
  </div>
  </h1>

  <div id="search">
    <div id="game_name">
      <form class=”search” method="GET" action="{% url 'home' %}">
        <label for="titleInput">ゲーム名</label>
        <input id="titleInput" name="search_title" type="text" class="name_search" value="{{request.GET.search_title}}" placeholder="ゲーム名で検索">
        <input type="submit" value="検索" class="search">
      </form>
    </div>
    <div id="genre">
      <form class=”search” method="GET" action="{% url 'home' %}">
        <label for="genreInput">ジャンル</label>
        <select id="genreInput" name="search_genre" class="same-width-list">
          <option value="アクション">アクション</option>
          <option value="RPG">RPG</option>
          <option value="パズル">パズル</option>
          <option value="シミュレーション">シミュレーション</option>
          <option value="アドベンチャー">アドベンチャー</option>
          <option value="シューティング">シューティング</option>
          <option value="スポーツ">スポーツ</option>
          <option value="レース">レース</option>
          <option value="音楽">音楽</option>
          <option value="その他">その他</option>
        </select>
        <input type="submit" value="検索" class="search">
      </form>
    </div>
  </div>
    

  {% if query_t %}
  <p>検索結果：{{article.count}}件</p>
  {% for result in article %}
  <div id="list">
    <div class="box">
      <div id="game_overview">
        <p class="big">{{ result.title }}</p>
        <hr>
        <p class="info">{{ result.game_name }}</p>
        <p class="info">{{ result.genre }}</p>
        <hr>
        <p class="about">{{ result.body }}</p>
        <a class="about" href="{% url 'detail' result.id %}">もっと見る</a>
      </div>

      <div id="pictures">

        <div class="picture">
          {% if result.picture %}
          <img src="../../media/{{ result.picture }}">
          {% else %}
          <br>
          <br>
          <br>
          <br>
          <p>No picture.</p>
          <br>
          <br>
          <br>
          <br>
          {% endif %}
        </div>

        <div class="flex">
          <p class="very-small">{{ result.posted_at }}</p>
          <img class="like" src="{% static 'img/like.png' %}">
          <p class="small">{{ result.like }}</p>
        </div>

      </div>


    </div>
  </div>
  {% endfor %}
  {% elif query_g %}
  <p>検索結果：{{article.count}}件</p>
  {% for result in article %}
  <div id="list">
    <div class="box">
      <div id="game_overview">
        <p class="big">{{ result.title }}</p>
        <hr>
        <p class="info">{{ result.game_name }}</p>
        <p class="info">{{ result.genre }}</p>
        <hr>
        <p class="about">{{ result.body }}</p>
        <a class="about" href="{% url 'detail' result.id %}">もっと見る</a>
      </div>

      <div id="pictures">

        <div class="picture">
          {% if result.picture %}
          <img src="../../media/{{ result.picture }}">
          {% else %}
          <br>
          <br>
          <br>
          <br>
          <p>No picture.</p>
          <br>
          <br>
          <br>
          <br>
          {% endif %}
        </div>

        <div class="flex">
          <p class="very-small">{{ result.posted_at }}</p>
          <img class="like" src="{% static 'img/like.png' %}">
          <p class="small">{{ result.like }}</p>
        </div>

      </div>


    </div>
  </div>
  {% endfor %}
  {% else %}
  <p>おすすめの記事</p>
  {% for result in article %}
  <div id="list">
    <div class="box">
      <div id="game_overview">
        <p class="big">{{ result.title }}</p>
        <hr>
        <p class="info">{{ result.game_name }}</p>
        <p class="info">{{ result.genre }}</p>
        <hr>
        <p class="about">{{ result.body }}</p>
        <a class="about" href="{% url 'detail' result.id %}">もっと見る</a>
      </div>

      <div id="pictures">

        <div class="picture">
          {% if result.picture %}
          <img src="../../media/{{ result.picture }}">
          {% else %}
          <br>
          <br>
          <br>
          <br>
          <p>No picture.</p>
          <br>
          <br>
          <br>
          <br>
          {% endif %}
        </div>

        <div class="flex">
          <p class="very-small">{{ result.posted_at }}</p>
          <img class="like" src="{% static 'img/like.png' %}">
          <p class="small">{{ result.like }}</p>
        </div>

      </div>


    </div>
  </div>
  {% endfor %}
  {% endif %}

</body>

</html>

<!--
    profile画像src
    profile
    user_policy
    ゲームのリンク
    ゲーム名と概要の取得
    ゲーム一覧
    とその中身
-->