{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>投稿内容</title>
    <link rel="stylesheet" href="{% static 'post.css' %}">
</head>

<body>
    <a href="http://localhost:8000/">トップへ戻る</a>
    <h1>ゲーム投稿内容</h1>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form">
            <div>
                <label for="titleInput" class="fontsize">タイトル</label>
                <input id="titleInput" name="title" type="text" class="same-width-list">
            </div>
            <div>
                <label for="gameInput" class="fontsize">ゲーム名</label>
                <input id="gameInput" name="game" type="text" class="same-width-list">
            </div>
            <div>
                <label for="genreInput" class="fontsize">ジャンル</label>
                <select id="genreInput" name="genre" class="same-width-list">
                    <option value="アクション">アクション</option>
                    <option value="RPG">RPG</option>
                    <option value="パズル">パズル</option>
                    <option value="シミュレーション">シミュレーション</option>
                    <option value="アドベンチャー">アドベンチャー</option>
                    <option value="シューティング">シューティング</option>
                    <option value="スポーツ">スポーツ</option>
                    <option value="レース">レース</option>
                    <option value="音楽">音楽</option>
                    <option value="その他">その他</option>
                </select>
            </div>
            <div class="flex">
                <label for="textInput"></label>
                <textarea id="textInput" name="text" rows="15" cols="650px" placeholder="投稿内容"></textarea>
                <label for="imageInput">写真を選択</label>
                <input type="file" name="upload_file" id="imageInput" width="650px">
            </div>
        <div class="button-center">
            <button type="submit">投稿</button>
        </div>
    </div>
    </form>
</body>

</html>